# Copie este arquivo para .env e preencha os valores
DATABASE_URL="postgresql://usuario:senha@host:5432/markap"
JWT_SECRET="seu-jwt-secret-aqui-minimo-32-caracteres"
PORT=3001
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"
